.login__bg--container{
    background-image: url('../images/banner-login.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
}

.login__form{
    width: 80%;
    margin: 100px 0px;
}

.link__style{
    color: #212529;
    text-decoration: none;
}