.hero {
    background-image: url('https://res.cloudinary.com/drpf1nmjx/image/upload/v1656265336/tari-kecak-1_169_ad3ayb.jpg');
    background-color: #f2f2f2;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
}

.hero__title {
    margin-top: 4vw;
}

.hero__title--span {
    font-size: 35pt;
    font-weight: bold;
}

.hero__subtitle {
    font-size: 15pt;
    margin-top: 2.5vw;
}

.hero__button {
    margin-top: 2.5vw;
    box-shadow: 2px 2px #bdbdbd;
}